.about-us {
    margin-top: 50px;
    margin-bottom: 50px;

    .container {
        padding-top: 50px;
        max-width: 900px;
        border-top: 2px solid $color-gray-3; 

        .icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }

        img {
            // height: 120px;
            width: 80px;
        }

        h5 {
            font-weight: $font-weight-bold;
            font-size: 1rem;
            line-height: 3rem;
        }

        p {
            font-size: 0.8rem;
            color: $color-gray-5;
            line-height: 0.5rem;
        }
    }
}