.product-grid {
    margin-bottom: 60px;
    

    .container {
        display: flex;
        border: 1px solid black;
    }

    .card {
        height: 230px;
        width: 180px;
        border: none;
        margin-left: auto;
        margin-right: auto;

        img,
        .card-img {
            height: 140px;
            background-color: $color-gray-1;
            position: relative;
            border-radius: 0;
            
            .card-menu {
                position: absolute;
                top: 10px;
                right: 10px;
                display: none;

                .btn-light { 
                    

                }
            }
    
            .btn-card-theme {
                position: absolute;
                bottom: 0;
                display: none;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 40px;
                font-size: 11px;
                font-weight: $font-weight-regular;
            }
        }

        .card-body {
            text-align: center;

            .card-category {
                font-size: 10.5px; 
                font-weight: $font-weight-medium;
                color: $color-gray-5;
                margin: -5px;
                margin-bottom: 5px;
            }

            .card-title {
                font-size: 13px; 
                font-weight: $font-weight-semi-bold;
            }

            .card-rating {
                color: $color-theme;
                font-size: 12px;
                margin-top: -8px;
                margin-bottom: 3px;
            }

            .card-price {
                font-size: 14px; //18px; 
                font-weight: $font-weight-semi-bold;
            }
        }

        &:hover {
            .card-menu {
                display: block;
                margin-top: -7px;

                .btn-light {
                    padding: 6px;
                    margin: 5px;
                    font-size: 12px;
                }

            }
            .btn-card-theme {
                display: flex;
            }
        }
    }
}


@media (min-width: 1200px) {
    .product-grid {    
        .container {
            max-width: 800px; 
        }
    }
}